body{
  text-align: center;
  font-family: 'Major Mono Display', monospace;

}

#connect4{
  background-color: yellow;
  display: inline-block;

  /* Aditional effects */
  padding: 5px;
  border-radius: 5%;
  border: 5px solid black;
  /* Aditional effects */
}

.col{
  display: inline-block;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  /* Aditional effects */
  border: 2px solid black;
  /* Aditional effects */
}

.col.empty{
  cursor: pointer;
}

.next-red{
  background-color: #F74242;
}

.red{
  background-color: red;
}

.next-black{
  background-color: #2b2726;
}

.black{
  background-color: black;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  font-size: 20px;
  border-radius: 50px;
  border: 3px solid white;
  font-family: 'Major Mono Display', monospace;
}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}
